.App {
  text-align: center;
  position: relative;
}

img {
  width: 100%;
}

.text-block {
  position: absolute;
  text-align: justify;
  color: white;
  top: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.aboutme {
  background-color: #003B00;
}

.skills {
}



