.App {
  text-align: center;
}

a {
  text-decoration-line: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.container1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  flex-basis: 600px;
  position: relative;
  overflow: hidden;
}

.text-block {
  position: absolute;
  color: white;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5%; /*Adjust this value to move the positioned div up and down */
  /* width: 60%; Set the width of the positioned div */
}

.aboutme {
  background-color: #003B00;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.logo {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */




.navbar {
 /* margin: 1rem;*/
  justify-content: space-between;
  background-color: #1B2326;
  color: white;
}

.overlay {
  transition: bottom ease 1s;
  /* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color:rgb(255, 255, 255, 0.5);

}

.item:hover .overlay {
  bottom: 0;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
}











@media only screen and (min-width: 600px) {
  
  .navbar {
    display: flex;
    /*margin: 1rem;*/
    justify-content: space-between;
    background-color: #1B2326;
    color: white;
  }
  .portfolio h2 {
    color: white;
    padding: 0 1rem;
  }
  .nav{
    display: inline-flex;
    align-items: center;
  }
  .nav h4{
    color: white;
    padding: 0 2rem;
  }
  
}